:root {

  --lightBlue: #A3DBE8;
  --darkBlue: #002C5F;

  /* 
   * To reference images from CSS files in assets/css/:
   * Use: url("../images/your-image.png")
   * This works because CSS files are in assets/css/ and images are in assets/images/
   * The "../" goes up one directory level from css/ to assets/, then into images/
   */

  --font-family: 'Poppins', sans-serif;



}



body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




html,
body {
  padding: 0;
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 500;
  /* overflow-x: hidden; */
  scrollbar-width: none;
}

html::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 95, 139);
}

/* Links */
a {
  text-decoration: none;
  color: var(--darkBlue);
  /* color: inherit; */
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: var(--lightBlue);
}

a,
span,
img,
label,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}


/* Buttons */
button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  font: inherit;

}

button:focus {
  outline: none;
}

/* Inputs & Forms */
input,
textarea,
select {
  border: none;
  outline: none;
  font: inherit;
  background: transparent;
  width: 100%;
  font-size: 16px;
  display: block;
  transition: all 0.3s ease;
}

video,
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease;
}

/* Lists */
ul,
li {
  list-style: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: var(--font-family);
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
  color: inherit;
  font-family: var(--font-family);
}

@media screen and (max-width:1600px) {

  body,
  html {
    font-size: 80%;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
  }

  p {

    margin-bottom: 15px;

  }
}

@media screen and (max-width:1280px) {

  body,
  html {
    font-size: 70%;

  }



}

@media screen and (max-width:1024px) {

  input {
    font-size: 16px !important;
  }
}

@media screen and (max-width:768px) {

  body,
  html {
    font-size: 60%;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  p {

    margin-bottom: 10px;

  }

  input {
    font-size: 16px !important;
  }

}

@media screen and (max-width:700px) {
  input {
    font-size: 16px !important;
  }

  body,
  html {
    font-size: 50%;

  }
}