 



 .bannerContainer{  height: 100vh; width: 100%; display: flex; flex-wrap: wrap; position: relative; background-size: cover; background-position: center; background-repeat: no-repeat; }

 .banner_txt_block_01{ width: 100%; margin-top: auto; padding-bottom: 15px; overflow: hidden;}

 .banner_content{ max-width: 830px; width: 100%; flex-wrap: wrap; display: flex; padding-bottom: 10vw;

   h3{   @include px-rem(25) ; color: #fff; margin-top: 10px; font-weight: 400; margin-bottom: 0; 
   
      @media (max-width: 700px) {
         @include px-rem(55) ; 
      }
   
   }
   h1{ width: 100%;  @include px-rem(60) ;  margin-top: 10px; color: #fff; font-weight:500; margin-bottom: 0; line-height: 110%;
      @media (max-width: 700px) {
         @include px-rem(85) ; 
      }
   }


   .button_wrps{ display: flex; flex-wrap: wrap; gap: 10px; margin-top:30px; }

  
}


.banner_bottom_counter{ margin: 0 -0.8%; padding: 0; display: flex; flex-wrap: wrap; 
   li{ width: 24%;  padding:0.8%;
   
   .counter_box{
      background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 2px solid #ffffff46;
    border-radius: 0px;
    padding: 25px 18px 25px 18px;
    width: 100%;
    will-change: transform, opacity;
    backface-visibility: hidden;
    
    // Ensure blur is always visible during all AOS states
    &,
    &[data-aos],
    &[data-aos].aos-animate,
    &[data-aos]:not(.aos-animate) {
      backdrop-filter: blur(3px) !important;
      -webkit-backdrop-filter: blur(3px) !important;
    }


    @media (max-width: 700px) {
      padding: 25px 10px 25px 10px;
    }
   }


   .counter_numb{   @include px-rem(40); color: #fff; line-height: 100%; font-weight: 600; margin-bottom: 10px;
   
      @media (max-width: 700px) {
         @include px-rem(70);
      }
   }
   p{ margin: 0; @include px-rem(20); color: #fff; font-weight: 400;
   
      @media (max-width: 700px) {
         @include px-rem(35);
      }
   }




   @media (max-width: 700px) {
      width: 50%;
      
         }


   }



}







.bannerContainer-inner{ position: relative; min-height: 621px; align-items: center; background-size: cover; background-position: center; background-repeat: no-repeat; display: flex; flex-wrap: wrap; 

   @media (max-width: 1440px) { min-height: 450px; }
   @media (max-width: 768px) { min-height: 400px; }
   @media (max-width: 700px) { min-height: 300px; }

   &::after{ content: ""; display: block; width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0;  background: radial-gradient(
      closest-side,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ); }

}
.inner_banner_txt_block_01{width: 100%; position: relative; z-index: 10;

h2{ color: #fff; font-weight: 500; margin: 0; @include px-rem(60); line-height: 100%;


  @media screen and (max-width: 700px) {
    @include px-rem(75);
  }
}
}


.brand-detail-banner{ align-items: flex-end; padding-bottom: 40px;

   .wrap{ display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;
   .brand_detail_logo_section{ width:  auto;
      @media screen and (max-width: 700px) { width: 100%; margin-top: 15px;}
   }


}

}



.banner_bottom_counter_section{ border-top: solid 1px #dadada4f; padding-top: 20px;}