.brand_certificate_section {
    background-color: #F6F6F6;
}

.brand_certificate_wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.brand_certificate_title {
    text-align: center;
    margin-bottom: 40px;
    
    h3 {
        color: #314878;
        font-weight: 500;
        @include px-rem(40);
        line-height: 100%;
        margin: 0;
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }
}

.brand_certificate_scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    // Hide scrollbar for Chrome, Safari and Opera
    &::-webkit-scrollbar {
        height: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        
        &:hover {
            background: #555;
        }
    }
    
    // For Firefox
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
.brand_certificate_item_wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #fff;
    border-left:1px solid rgba(57, 72, 84, 0.15);
    padding: 30px 60px;
    min-width:320px;

    @media screen and (max-width: 768px) {
        padding:20px 30px;
        min-width:100px;
    }

    &:first-child {
        border-left: none;
    }

    .brand_certificate_item {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 147px;
        max-height: 77px;

        @media screen and (max-width: 768px) {
            max-width: 77px;
            max-height: 38px;
        }
        
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            display: block;
        }
    }
}



@media screen and (max-width: 768px) {
    .brand_certificate_title {
        margin-bottom: 30px;
    }
    
    .brand_certificate_scroll {
        justify-content: flex-start;
    }
    
}

@media screen and (max-width: 480px) {
    .brand_certificate_title {
        margin-bottom: 25px;
    }
}