.building_trust_content_wrap{ display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }

.building_trust_content{ width: 40%;}
 .building_trust_content_02{ width: 60%;  }