// Careers Page Styles
.careers_section {
	background: #fff;
	width: 100%;

	.careers_content_img {
		width: 100%;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	// Career Detail Page Styles
	.career_detail_content {
		 display: flex; flex-wrap: wrap;
	}

	.career_detail_header {
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #e0e0e0;

		h1 {
			margin: 0 0 10px 0;
			color: #173B87;
		}

		.career_posted_date {
			color: #404040;
			font-size: 15px;
		}
	}

	.career_detail_info {
		margin-bottom: 40px;

		.career_info_list {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			gap: 30px;

			> li {
				list-style: none;
				display: flex;
				flex-direction: column;
				min-width: 200px;

				.info_label {
					color: #404040;
					font-size: 14px;
					margin-bottom: 5px;
				}

				.info_value {
					color: #173B87;
					font-size: 16px;
					font-weight: 700;
				}
			}
		}
	}

	.career_detail_description,
	.career_detail_requirements,
	.career_detail_responsibilities {
		margin-bottom: 40px;
	}
}

// Responsive styles
@media screen and (max-width: 768px) {
	.careers_section {
		padding-top: 40px;
		padding-bottom: 40px;

		.career_detail_header {
			margin-bottom: 30px;
		}

		.career_detail_info {
			.career_info_list {
				flex-direction: column;
				gap: 20px;

				> li {
					min-width: 100%;
				}
			}
		}
	}
}



.careers_list{
    margin: 0; margin-top: 25px; padding: 0; list-style: none; display: flex; flex-wrap: wrap;

    > li{ list-style: none; width: 100%; padding:5.6% 4%; background: #fff; border: solid 1px #aaaaaa; margin-bottom: 20px;
    
        .career_block_list{ marker: 0; padding: 0;  display: flex; flex-wrap: wrap;
            > li { list-style: none;  width: 25%;
                &.cl_01{ width: 45%;

                    h3{ margin: 0; padding: 0; color: #173B87; @include px-rem(30); font-weight:700; line-height: 100%; }
                    span{ margin: 0; padding: 0; color: #404040; font-size: 15px; display: inline-block; margin-top:4px;}

                    @media screen and (max-width: 1024px) { width: 100%; margin-bottom: 15px;}
                }
                &.cl_02{ width: 33%;
                    @media screen and (max-width: 1024px) {
                        width:50%;
                    }
                    @media screen and (max-width: 700px) { width: 100%; padding-top: 15px; padding-bottom: 15px;}
                }
                &.cl_03{ width: 22%; display: flex; flex-wrap: wrap; align-items: flex-end;
                
                    .btn_style{ margin-left: auto; gap: 10px;}
                    @media screen and (max-width: 1024px) {
                        width:50%;
                    }
                    @media screen and (max-width: 700px) { width: 100%;}
                }

               
            }
        }
    }
}

.career_block_list_02{ display: flex; flex-wrap: wrap;   padding: 0px;

    > li{ width: 33.333%; list-style: none; padding: 0; margin: 0; font-size: 14px;
        span{ font-weight: 700; display: inline-flex; width: 100%;}

        @media screen and (max-width: 700px) { 
            font-size: 12px;
        }
    }    

  
}

.careers_section_form{  

    p{ color: #ffff; max-width: 50%; margin-left: auto; margin-right: auto;
        @media screen and (max-width: 700px) { 
            width: 100%; max-width: 100%;
        }
    }

    .careers_apply_form {
        max-width: 906px;
        margin:20px auto 0;
        text-align: left;
        
        .careers_form_list {
            margin: 0;
            padding: 0;
            list-style: none;
            
            > li {
                list-style: none;
                margin-bottom: 15px;
                
                input[type="text"],
                input[type="email"],
                input[type="tel"],
                input[type="url"] {
                    width: 100%;
                  font-size: 16px   ;
                    background: #fff;
                    border: none;
                    border-bottom: 1px solid #000;
                    padding: 10px 15px;
                    font-size: 16px;
                    color: #000;
                    outline: none;
                    
                    &::placeholder {
                        color: #999;
                        opacity: 1;
                    }
                    
                    &::-webkit-input-placeholder {
                        color: #999;
                    }
                    
                    &::-moz-placeholder {
                        color: #999;
                        opacity: 1;
                    }
                    
                    &:-ms-input-placeholder {
                        color: #999;
                    }
                    
                    &:focus {
                        border-bottom-color: #173B87;
                    }
                }
                
                &.form_row_two_col {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        gap: 15px;
                        
                        > li {
                            list-style: none;
                            flex: 1;
                            width: 50%;
                        }
                    }
                }
                
                &.form_row_full {
                    width: 100%;
                }
                
                &.form_row_file {
                    .file_label {
                        display: block;
                        color: #fff;
                        font-size: 14px;
                        margin-bottom: 8px;
                        font-weight: 400;
                        
                        .required {
                            color: #ff0000;
                        }
                    }
                    
                    .file_upload_wrapper {
                        display: flex;
                        padding: 3px;
                        align-items: center;
                        background: #fff;
                        gap: 15px;
                        
                        input[type="file"] {
                            display: none;
                        }
                        
                        .file_name_display {
                            flex: 1;
                            color: rgba(0, 0, 0, 0.5);
                            font-size: 16px;
                            padding: 0 10px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        
                        .browse_btn {
                            margin: 0;
                            color: #ffffff;
                            margin-left: auto;
                            padding: 10px 30px;
                            cursor: pointer;
                        }
                        .btn_style{ height: 38px;}
                    }
                }
            }
        }
        
        .submit_btn {
            margin-top: 20px;
            padding: 12px 40px;
        }
    }
}

// Responsive styles for form
@media screen and (max-width: 768px) {
    .careers_section_form {
        .careers_apply_form {
            .careers_form_list {
                > li {
                    &.form_row_two_col {
                        ul {
                            flex-direction: column;
                            gap: 20px;
                            
                            > li {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


.career_detail_content {
    display: flex; flex-wrap: wrap; justify-content: space-between;
}

.career_lable_txt{ font-size: 16px; color: #000000;   opacity: 0.55; display: inline-block; padding-bottom: 15px;

    @media screen and (max-width: 700px) { font-size: 13px;}

}

.job_description_title{ display: inline-flex;  margin-top: 35px; background: #173b87; padding: 5px 10px; color: #fff; font-weight: 300; font-size: 16px;

    
    @media screen and (max-width: 700px) {
        font-size: 14px; margin-top: 25px; 
    }







}

.career_detail_left{ width:45%;
    @media screen and (max-width: 700px) { width: 100%;}
}
.career_detail_right{ 
    width: 45%; padding-top:39px;
    
    .careers_apply_form {
      
        border-radius: 0; 
        margin-top: 35px;
        
        .careers_form_list {
            > li {
                margin-bottom: 20px;
            }
        }
        
        .submit_btn_row {
            margin-top: 20px;
            text-align: left;
        }

       @media screen and (max-width: 700px) { margin-top: 25px;}
    }
    
    @media screen and (max-width: 700px) {
        width: 100%;
        margin-top: 0px;
    }
}

.careers_form_list{ padding: 0px; margin: 0; list-style: none; 
    .form_input{ width: 100%; height: 61px; border: solid 1px #525961; padding-left: 25px; padding-right: 25px; font-size: 16px; color: #000000; outline: none;
        
        &::placeholder {
            color: #000000;
            opacity: 1;
        }
        
        &::-webkit-input-placeholder {
            color: #000000;
            opacity: 1;
        }
        
        &::-moz-placeholder {
            color: #000000;
            opacity: 1;
        }
        
        &:-ms-input-placeholder {
            color: #000000;
            opacity: 1;
        }

        @media screen and (max-width: 700px) {
            height: 45px;
            font-size: 14px;
        }
    }
    
    .form_row_file {
        .file_upload_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: solid 1px #525961;
            padding:3px 3px 3px 20px; 
            outline: none;
            height: 61px;
            gap: 20px;
            
            input[type="file"] {
                display: none;
            }
            
            .file_name_display {
                flex: 1;
                color: #161616;
                font-size: 16px;
                font-weight: 400;
                padding: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media screen and (max-width: 700px) {
                    font-size: 14px;
                }
            }
            
            .browse_btn {
                margin: 0;
                background: #173B87;
                border: none;
                color: #fff;
                padding: 10px 25px;
                cursor: pointer;
                white-space: nowrap;
                font-size: 16px;
                height: auto;
                height: 100%;
                
                &:hover {
                    background: #1a4ba0;
                }
            }

            @media screen and (max-width: 700px) {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}