// Careers Page Styles
.careers_section {
	background: #fff;
	width: 100%;

	.careers_content_img {
		width: 100%;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	 
}

// Responsive styles
@media screen and (max-width: 768px) {
	.careers_section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}



.careers_list{
    margin: 0; margin-top: 25px; padding: 0; list-style: none; display: flex; flex-wrap: wrap;

    > li{ list-style: none; width: 100%; padding:3%; background: #fff; border: solid 1px #aaaaaa; margin-bottom: 20px;
    
        .career_block_list{ marker: 0; padding: 0;  display: flex; flex-wrap: wrap;
            > li { list-style: none;  width: 25%;
                &.cl_01{ width: 45%;

                    h3{ margin: 0; padding: 0; color: #173B87; @include px-rem(30); font-weight:700; line-height: 100%; }
                    span{ margin: 0; padding: 0; color: #404040; font-size: 15px; display: inline-block; margin-top:4px;}
                }
                &.cl_02{ width: 33%;}
                &.cl_03{ width: 22%; display: flex; flex-wrap: wrap; align-items: flex-end;
                
                    .btn_style{ margin-left: auto; gap: 10px;}
                }

               
            }
        }
    }
}

.career_block_list_02{ display: flex; flex-wrap: wrap;   padding: 0px;

    > li{ width: 33.333%; list-style: none; padding: 0; margin: 0;
        span{ font-weight: 700; display: inline-flex; width: 100%;}
    }    

  
}