 .title_txt_block{
  h3{ margin-bottom: 10px;}
  p{ margin: 0; font-weight: 400;}
 }

 .clients_grid{ margin: 0; padding: 0; display: flex; flex-wrap: wrap; border-top: solid 1px #e0e0e0;  border-bottom: solid 1px #e0e0e0; margin-top: 35px;
  li{ width: 20%; border-right: solid 1px #e0e0e0;  aspect-ratio: 1/1; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; 
  
  img{  max-width: 100%; max-height: 100%; width: auto; height: auto  ; object-fit: contain; }

}

  & >:last-child{ border-right: none;}
}