.contact_map_section{
  background: #F6F6F6;

  .contact_map_header{
    max-width: 520px;
    margin-bottom: 30px;

    h3{
      margin-bottom: 10px;
    }

    p{
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: #555;
      line-height: 150%;
    }
  }

  .contact_map_wrapper{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  
  }

  .contact_map_container{
    width: 100%;
    height: 500px;
    min-height: 400px;
  }

  .contact_map_image{
    width: 100%;
    aspect-ratio: 1600 / 678;
    background-image: url('../images/Rectangle 6921 (4).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 768px){
    .contact_map_header{
      max-width: 100%;
    }

    .contact_map_image{
      aspect-ratio: 4 / 3;
    }
  }
}


