// Contact Information Section Styles

.contact_information_section {
  position: relative;
}

.contact_information_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5%;
  padding: 0;
  list-style: none;

  .contact_info_item {
    width: calc(25% - 3%);
    margin: 0 1.5% 30px 1.5%;
    padding: 30px;
    background: #fff;
    border: solid 1px #e0e0e0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
      border-color: #293977;
    }
  }

  .contact_info_icon {
    margin-bottom: 20px;

    img {
      width: 50px;
      height: auto;
      display: block;
    }
  }

  .contact_info_content {
    width: 100%;
  }

  .contact_info_title {
    color: #000;
    margin: 0 0 15px 0;
    font-weight: 500;
    @include px-rem(20);
    line-height: 1.3;
  }

  .contact_info_text {
    color: #666;
    font-size: 16px;
    line-height: 1.6;

    p {
      margin: 0 0 10px 0;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #293977;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #1a2a5c;
          text-decoration: underline;
        }
      }
    }
  }
}

// Responsive styles
@media screen and (max-width: 1024px) {
  .contact_information_grid {
    margin: 0 -1%;

    .contact_info_item {
      width: calc(50% - 2%);
      margin: 0 1% 25px 1%;
      padding: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact_information_grid {
    margin: 0;

    .contact_info_item {
      width: 100%;
      margin: 0 0 20px 0;
      padding: 20px;
    }

    .contact_info_title {
      @include px-rem(18);
    }

    .contact_info_text {
      font-size: 14px;
    }
  }
}



.contact_information_content_block{ 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    
    .contact_information_content_item{ 
        width: 60%;
        
        h3{ margin-bottom: 10px;}
        p {
            margin: 0 0 30px 0;
            max-width: 70%;
            font-size: 16px;
            line-height: 1.6;
            color: #000000;

            @media (max-width: 700px) {
              font-size: 13px;
            }
        }


    }
    
    .contact_form_block{ 
        width: 40%;
    }
}

.contact_address_block {
    margin-top: 30px;
    
    .contact_address_title {
        color: #293977;
        margin: 0 0 30px 0;
        font-weight: 600;
        @include px-rem(24);
        line-height: 1.3;
    }
    
    .contact_address_icons {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        
        .contact_address_icon {
            img {
                width: 40px;
                height: auto;
                display: block;
                filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2000%) hue-rotate(220deg) brightness(0.9) contrast(1.1);
            }
        }
    }

    h4{  @include px-rem(25); color: #293977; font-weight: 600; margin: 0 0 15px 0; line-height: 100%;
    
    @media (max-width: 700px) {
        @include px-rem(45);
    }
    }
}

// Responsive styles for contact information content block
@media screen and (max-width: 700px) {
    .contact_information_content_block {
        .contact_information_content_item {
            width: 100%;
            margin-bottom: 40px;
        }
        
        .contact_form_block {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .contact_address_block {
        .contact_address_title {
            @include px-rem(20);
            margin-bottom: 30px;
        }
        
        .contact_address_icons {
            gap: 20px;
            
            .contact_address_icon {
                img {
                    width: 35px;
                }
            }
        }
    }
}

.address_block_item{ position: relative; padding-left: 40px;
    .contact_address_icon{ position: absolute; left: 0; top: 4px;}

    a{ color: #000;
      &:hover{ color: #293977;}
    }
}