// Contact Form Section Styles

.contact_form_section {
  .global_brands_content_title {
    h3 {
      color: #000;
    }
  }

  .contact_form_description {
    width: 100%;
    margin-top: 15px;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: #666;
      line-height: 150%;
    }
  }

  .contact_form {
    margin-top: 25px;
    width: 100%;

    .contact_form_fields_list {
      margin: 0;
      width: 100%;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;

      .contact_form_left_column {
        width: calc(63.8% - 20px);
        list-style: none;

        .contact_form_inputs_list {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          gap: 40px;

          li {
            width: calc(50% - 20px);
            list-style: none;
          }
        }
      }

      .contact_form_right_column {
        width: calc(36.2% - 20px);
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    .contact_form_field {
      width: 100%;
      position: relative;

      input,
      textarea {
        width: 100%;
        padding: 15px 20px;
        background: #fff;
        border: solid 1px #e0e0e0;
        border-radius: 0px;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        font-family: inherit;
        transition: all 0.3s ease;
        box-sizing: border-box;

        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }

        &:focus {
          outline: none;
          border-color: #293977;
          box-shadow: 0 0 0 2px rgba(41, 57, 119, 0.1);
        }
      }

      textarea {
        resize: vertical;
        min-height: 200px;
      }
    }

    .contact_form_textarea {
      height: 100%;
      width: 100%;

      textarea {
        height: 100%;
      }
    }

    .contact_form_submit {
      margin-top: 30px;
      text-align: left;

      button {
        padding: 12px 30px;
      }
    }
  }
}

// Responsive styles
@media screen and (max-width: 768px) {
  .contact_form_section {
    .contact_form {
      .contact_form_fields_list {
        flex-direction: column;
        gap: 20px;

        .contact_form_left_column {
          width: 100%;

          .contact_form_inputs_list {
            flex-direction: column;
            gap: 20px;

            li {
              width: 100%;
            }
          }
        }

        .contact_form_right_column {
          width: 100%;
        }
      }

      .contact_form_field {
        input,
        textarea {
          padding: 12px 15px;
          font-size: 14px;
        }
      }

      .contact_form_textarea {
        textarea {
          min-height: 150px;
        }
      }

      .contact_form_submit {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.contact_form_ul{ margin: 0; padding: 0; display: flex; flex-wrap: wrap;
  li{ list-style: none; width: 100%; list-style: none; margin-bottom: 10px;
    .input{ font-family: "Poppins", sans-serif;  width: 100%; height: 50px; border: none; background: #F6F6F6; padding-left: 20px; padding-right: 20px; font-size: 14px;
    
      &:focus{ outline: none;}

    }
    textarea.input{ font-family: "Poppins", sans-serif;  height: 140px; resize: none; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; font-size: 14px;}

  }
}

.contact_form_submit_block{  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 10px;

    .social-media-links{ margin: 0; padding: 0; gap:30px; display: flex; flex-wrap: wrap; margin: 0 -10px; align-items: center;
        li{ list-style: none; width: auto; }
    }
}

.whatsapp_icon{ background: #F6F6F6; padding: 10px 20px; display: inline-block;
&:hover{ background: rgb(235, 235, 235);}
}

.contact_address_list{ position: relative; z-index: 5; display: flex; flex-wrap: wrap;
  margin: 0 -1%; padding: 0;

  li{ list-style: none; width:33%; padding: 0 1%; 
  
    .contact_address_item{  background: rgba(244, 241, 242, 0.15); padding: 10%;
    h3{ margin: 0; font-weight: 500;  color: #ffffff; line-height: 1.3; @include px-rem(25);
    
      @media screen and (max-width: 700px){
        @include px-rem(35);
      }
    
    }
    h4{ color: #fff; @include px-rem(25); font-weight: 700; margin: 25px 0px 0px 0px;
      @media screen and (max-width: 700px){
        @include px-rem(35);
      }
    }
    }

    .address_block_item{
      p{ color: #fff;}

      a{ color: #fff;
      &:hover{ color: #ebebeb;}
      }
    }

    @media screen and (max-width: 700px){

      width: 100%; margin-bottom: 20px;
    }
  }
}