 .footer{ background: #050A0F; color: #fff; width: 100%; padding-top: 80px;  display: flex; flex-wrap: wrap; 



  .footer_list{
    display: flex; flex-wrap: wrap;  margin: 0; padding: 0;

            .footer_list_item_01{ width:20.5%;
              @media (max-width: 820px){ width: 100%; padding-bottom: 25px;}
              @media (max-width: 700px){ width: 100%;}
            }
            .footer_list_item_02{ width:40.5%;
              h3{ margin: 0; font-weight: 400; @include px-rem(25); margin-bottom: 20px; max-width: 91%; width: 100%;}
              @media (max-width: 700px){ width: 100%;}

              @media (max-width: 820px){ width: 100%; padding-right: 0; padding-bottom: 25px;}

            }
            .footer_list_item_03{ width:27%;

             
              @media (max-width: 820px){ width: 50%;}
              @media (max-width: 700px){ width: 100%;}
            }
            .footer_list_item_04{ width:12%;
              @media (max-width: 820px){ width:50%; padding-bottom: 25px;}
              @media (max-width: 700px){ width: 100%;}
              }
           
           >  li{ padding-right:  5%;
            
              @media (max-width: 700px){ padding-right: 0; margin-bottom: 25px;}
            }

            & > :last-child{ padding-right: 0;}

 
            }

            @media (max-width: 700px){      padding-top: 45px;}
}


.subscribe_form{ width: 100%;  display: flex; flex-wrap: wrap; justify-content: space-between; height: 60px;

  .subscribe_input{ width: calc(100% - 70px); border: solid 1px rgba(255, 255, 255, 0.1); padding: 10px;
    input{ border: none; width: 100%; height: 100%; background: transparent;  font-size: 16px; font-weight: 400; color: #fff; 
      &:focus-visible{ outline: none;}
      &::placeholder {
        color:#fff;
        opacity: 1;
      }
      &::-webkit-input-placeholder {
        color:#fff;
        opacity: 1;
      }
      &::-moz-placeholder {
        color:#fff;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color:#fff;
        opacity: 1;
      }

      @media (max-width: 700px){
        font-size: 13px;
      }
    }
  }
  .subscribe_form_button{ width: 60px; 
    button{ width: 100%; height: 100%; background: transparent; outline: none; border: solid 1px #fff; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
    &:hover{
      button{
        background: #2c2c2c;              cursor: pointer;
        color: #050A0F;
      }
    }
  }

  @media (max-width: 700px){ height:44px; }
}

.footer_title_h3{ @include px-rem(25);  font-weight: 500; margin: 0; margin-bottom: 20px;


  @media (max-width: 820px){ @include px-rem(45); margin-bottom: 10px;}
  @media (max-width: 700px){ @include px-rem(45); margin-bottom: 10px;}

}

.footer_list_ul{ margin: 0; padding: 0; display: flex;  flex-wrap: wrap;
  li{ list-style: none; padding-bottom: 15px; width: 50%;
    a{ color: #fff; font-size: 16px;
      @media (max-width: 820px){ font-size: 14px;}
      &:hover{ color: #cacaca;}
    }
  }
}

.footer_social_list_ul{ margin: 0; padding: 0; display: flex; flex-wrap: wrap; gap: 10px;
  li{ list-style: none;
    a{ display: inline-flex; width: 30px; height: 30px; justify-content: center; align-items: center; border: solid 1px #fff; }
  }
}

.footer_bottom{ border-top: solid 1px #2c2c2c; padding-top: 25px; padding-bottom: 25px; font-size: 16px; font-weight: 400; color: #fff;

  @media (max-width: 700px){ font-size: 12px;}

  p{  margin: 0;

    @media (max-width: 700px){  
      font-size: 12px; margin-bottom: 5px;
    }
  }
}

.footer_bottom{ display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }

.footer_bottom_list{ display: flex; flex-wrap:  wrap; margin: 0 -10px; padding: 0;
  li{ list-style: none; border-right: solid 1px #fff; padding-left: 10px; padding-right: 10px;
  
    a{ color: #fff;
      &:hover{ color: #cacaca;}
    }
  }

  & :last-child{ border-right: none;}
}