.global_presence_content_box{
  width: 76%; margin-left: auto; position: relative;

  .map-marker{ border-radius: 100%; position: absolute; right: 0; top: 0; width: 60px;  aspect-ratio: 1/1; object-fit: contain;  border: solid 9px #fff;   box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.1);
  
    &.mark_01{ left: 15%; top: 30%; }
    &.mark_02{ left: 42%; top: 42%; }
    &.mark_03{  left: 58%; top: 42%;}
    &.mark_04{ right: 15%;  top: 60%; }
   


    @media screen and (max-width: 768px) {
      width: 44px; border: solid 4px #fff
    }


    @media screen and (max-width: 700px) {
      width: 34px;
    }
  }

  @media screen and (max-width: 700px) {
    width: 100%;          
  }
}

.global_presence_content_box_wrp{ display: flex; flex-wrap: wrap; position: relative; align-items: center; }

.global_presence_content_box_item{ position: absolute; left: 0;  


  p{ font-size: 15px; font-weight: 400; color: #173B87;  text-transform: uppercase; }
  

  @media screen and (max-width: 700px) { position: unset !important; width: 100%; margin-bottom: 20px; }

  h3{

    br{

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    
  }
}