.history_milestones_section{
  background: #F6F6F6;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
}

.history_milestones_content{ 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center;
  width: 100%;
  padding-top:100px;

  @media screen and (max-width: 768px) {
    padding-top:50px;
  }
}

.history_milestones_grid{ 
  display: flex; 
  flex-wrap: wrap;  
  margin: 0; 
  padding: 0; 
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%;
  .history_milestones_item_1{ width:46%; display: flex; flex-wrap: wrap; 


    .time-line-block{ width: 100px;
    > ul{ display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0; padding: 0;
      li{ position: relative; list-style: none; margin: 0; padding: 0; list-style: none; width: 100%; display: flex; flex-wrap: wrap; align-items: center; gap: 20px; padding-top: 10px; padding-bottom: 10px;
        cursor: pointer;
        transition: opacity 0.3s ease;
        h4{ margin: 0; padding: 0; color: #000; opacity: 0.2; transition: opacity 0.3s ease; @include px-rem(23); font-weight: 400;
        
        
          @media screen and (max-width: 700px) {
            @include px-rem(32);
          }
        }
      
        &.active{
          h4{ opacity: 1; font-weight:700;}
        }


          .history-dot{ display: block; width: 10px; height: 10px; border-radius: 50%; background: #9d9d9d; position: relative; z-index: 2;}
        &.active{
          .history-dot{ opacity: 1; border:4px solid #000; background: #fff; width: 20px; height:20px;  transform: translateX(-5px);}
        }

        &::after{
          content: ''; display: block; width: 1px; height: 100%; background: #000; position: absolute; top:27px; left:4px; z-index: 1;
        }

        &:last-child{
          &::after{ display: none;}
        }
      }
    }
  }

.time-line-txt{ width:  calc(100% - 100px); padding-left: 8%; position: relative; min-height: 200px;

  @media screen and (max-width: 768px) {
     padding-left: 0; padding-top: 25px;
  }

  .time-line-txt-content{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    &.active{
      position: relative;
      opacity: 1;
      visibility: visible;
    }

    h3{ margin-bottom: 10px;  @include px-rem(55); font-weight: 500; line-height: 100%; margin-bottom: 20px; }
    p{ margin: 0;}
  }
}


@media screen and (max-width: 768px) {
  width: 100%; padding-left: 0;
}

  }
  .history_milestones_item_2{ 
    width:46.4%;
    
    .history-milestones-image-swiper{
      width: 100%;
      height: 500px;
      overflow: hidden;

      .swiper-wrapper{
        height: 100%;
      }

      .swiper-slide{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%; padding-left: 0; margin-top: 25px;
    }
  }
}