.innovation_container {
  display: flex;
  gap: 30px;
  align-items: start;
  overflow: hidden;

  @media #{$media-768} {
    flex-direction: column;
  }

  .innovation_cl_02 {
    @media #{$media-768} {
      width: 100%;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }

  .innovation_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 65%;
    margin-bottom: 0;
    @media #{$media-1200} {
      gap: 20px;
    }
    @media #{$media-768} {
      gap: 10px;
      width: 100%;
    }

    .m_left_100 {
      margin-left: 100px;
      @media #{$media-768} {
        margin-left: 0;
      }
    }

    .innovation_content_box {
      p {
        font-size: 16px;
        line-height: 1.6;
        margin-block: 40px;

        @media #{$media-1200} {
          margin-block: 20px;
        }

        @media #{$media-768} {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
}
