 

 .innovation_content{ display: flex; flex-wrap: wrap;  justify-content: space-between; align-items: flex-end;

   .innovation_cl_01{ width: 30.33%; }
   .innovation_cl_02{ width: 33.33%;  padding: 0 1%;}
   .innovation_cl_03{ width: 30.33%; }
}