 
 .innovative_products_slider{ overflow: hidden; position: relative;


   .swiper-slide{ 
    position: relative;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .4s ease;
      display: block;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }

   &::after{ content:""; display:block; width:100%; height: 100%; position: absolute; top: 0; left: 0;  z-index: 1;
      background: linear-gradient(
         180deg,
         rgba(0, 0, 0, 0) 0%,
         rgba(0, 0, 0, 0.7) 61.12002730369568%
       );
   }
}
}

 .global_logo_box_bottom{
   h4{ color: #fff; margin: 0; @include px-rem(30); font-weight: 400; line-height: 100%; margin-bottom: 10px;}
 }

 .products_list{  display: flex; flex-wrap: wrap; margin: 0 -0.7%; padding: 0;

  li{ position: relative; padding: 0 0.7% 20px 0.7%;
    width: 33.3%;
  }

  .product_item{
    position: relative;
    overflow: hidden;

    img{
      max-width: 100%;
      height: auto;
      display: block;
      transition: transform 0.4s ease;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }
    &::after{
      content:""; display:block; width:100%; height: 100%; position: absolute; top: 0; left: 0;  z-index: 1; position: absolute; 
      background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }


  &.style-02{ 

    li{ 
      .product_item{ border: solid 1px #000000;
      
        .global_logo_box_bottom{ position: unset; width: 100%; padding: 7%;}
      }
    }


    h4{ color: #000;}
h3{ color: #000;}

.global_buttion{ background: #000000; color: #fff;
  img{ filter: invert(1); }
}


  }



  &.col_2{

    li{ width: 50%;
      .global_logo_box_bottom {
        h3{ max-width: 350px;}
      }

      @media screen and (max-width: 700px) {

        width: 100%;
        
      }
    }
  }
  
 }

// Responsive styles
@media #{$media-820} {
  .products_list {
    li {
      width: 50%;
      padding: 0 1% 20px 1%;
    }
  }
}

@media #{$media-700} {
  .products_list {
    margin: 0;
    
    li {
      width: 100%;
      padding: 0 0 20px 0;
    }
  }
}



.product_item_img{ overflow: hidden;
 
}


.style-03{

  .product_item_img{   aspect-ratio: 450/335; display: flex; flex-wrap: wrap; align-items: flex-end;   border-bottom: solid 1px #cfcfcf;
  
    &::after{ display: none;}
  }

  .product_item{
    &::after{ display: none;}
  }
}