 

 .innovation_content{ display: flex; flex-wrap: wrap;  justify-content: space-between; align-items: flex-end;

   .innovation_cl_01{ width: 30.33%;
    @media (max-width: 820px) {

      width: 100%; padding-bottom: 15px;
    }
  }
   .innovation_cl_02{ width: 33.33%;  padding: 0 1%;
  
    @media (max-width: 820px) { width: 50%; padding: 0; }


    @media (max-width: 700px) { width: 100%; padding-bottom:5px; }
  }
   .innovation_cl_03{ width: 30.33%;

    p{ font-size: 16px; 
    
      @media (max-width: 700px) { font-size: 14px; }
    }
    @media (max-width: 820px) { width:45%; }
    @media (max-width: 700px) { width: 100%; }
  }
}