// Navigation buttons in global_brands_content_title (scoped to leadership team section)
.leadership_team_section .global_brands_content_title{
  position: relative;

  .leadership-team-next,
  .leadership-team-prev{
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    width: 40px;
    height: 40px;
     
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    pointer-events: auto;

    &::after{
        display: none;
    //   font-size: 20px;
    //   font-weight: bold;
    }

    &:hover{
        background: rgba(255, 255, 255, 0.185);
    }

    &.swiper-button-disabled{
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }
  }

  .leadership-team-next{
    right: 0;
  }

  .leadership-team-prev{
    right: 60px;
  }
}

.leadership_team_grid{ display: flex; flex-wrap: wrap; margin-top: 15px; justify-content: space-between; align-items: center; width: 100%;

    .leadership_team_block_01{ width: 31.5%; border-right: solid 1px #c2c2c2; padding-right:4%;
    
    @media screen and (max-width: 768px) {
      width: 100%; border-right: 0; padding-right: 0; margin-bottom: 20px;
    }
    }
    .leadership_team_block_02{ 
      width: 68.5%;
      position: relative;
      padding-left: 4%;

      .leadership-team-swiper{
        width: 100%;
        // overflow: visible;

        .swiper-slide{
          height: auto;

          .team_img_block{
            width: 100%;
            height: 100%;
          }
        }
      }


.team_img_block{
      .team_img_block_txt_block{
        h3{ @include px-rem(20); font-weight: 400;
        
        @media screen and (max-width: 820px) {
            @include px-rem(35);
        }
        }
      }}

      @media screen and (max-width: 768px) {
        padding-left: 0; width: 100%;
      }


      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    .team_img_block{
        width: 100%; 
        position: relative;
        overflow: hidden;

        img{
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
        }

        &::after{ 
          content: ''; 
          display: block; 
          width: 100%; 
          height: 100%;   
          position: absolute; 
          top: 0; 
          left: 0; 
          z-index: 1;
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
          background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

        .team_img_block_txt_block{ 
          position: absolute; 
          bottom: 0; 
          left: 0; 
          z-index: 2; 
          padding: 20px; 
          width: 100%;
        
            h3{ color: #fff; margin: 0; padding: 0; @include px-rem(30); font-weight: 500; line-height: 100%; margin-bottom: 10px;
            
                
            }
            p{ color: #fff; margin: 0; padding: 0;
            
            @media screen and (max-width: 700px) {
                @include px-rem(40);
            }
            }
        }
    }
}

.buttion_block{  flex-direction: row-reverse; gap: 10px;
display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-end;
    .leadership-team-next{ position: unset !important; transform: unset !important;}
    .leadership-team-prev{ position: unset !important; transform: unset !important;}

    @media screen and (max-width: 700px) {
        display: none;
    }
}