 
 .mission_vission_grid{ display: flex; flex-wrap: wrap; position: relative; z-index: 5; padding: 0px; margin: 0px; justify-content: space-between;
   
  li { width:49%; list-style: none; background: rgba(244, 241, 242, 0.15); padding: 4%;
  h3{ color: #fff;  @include px-rem(30); font-weight:400; margin: 0 0 10px 0;
    
    @media screen and (max-width: 700px) {
      @include px-rem(55);
    }
  }
  p{ color: #fff; margin: 0;}
  

  @media screen and (max-width: 700px) {
    width: 100%; margin-bottom: 15px;
  }
  }
 }
  

 .icn-block{ margin-bottom: 50px; width: 100px; border-radius: 5px; overflow: hidden;   


  @media screen and (max-width: 820px) {
    margin-bottom: 25px;
  }
}



 