.filter_by {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 400;
  color: rgba(0, 0, 0);

  .filter_select {
    padding: 8px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    font-size: 14px;
    line-height:1.4;
    font-weight: 400;
    background: #fff;
    color:rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 271px;
    font-family: inherit;
    height:62px;

    @media #{$media-768} {
      height:42px;
      margin-top:10px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: rgba(0, 0, 0, 0.4);
    }
  }
}

// Responsive styles
@media #{$media-768} {
  .filter_by {

    .filter_select {
      width: 100%;
      min-width: auto;
    }
  }
}

.filter_by_label{ width: 100px;}