.product_overview_content {
  display: flex;
  justify-content: space-between;
  gap:40px;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    gap:20px
  }

  .product_overview_description {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    p {
      font-size: 16px;
      color: #000000;
      line-height: 1.6;
      margin: 0px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .product_overview_title {
    width: 30%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.product_overview_buttons {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.buttion_blue_icn {
  padding-right: 15px;
}
