 
 .related_news_slider{ overflow: hidden; position: relative;


   .swiper-slide{ 
    position: relative;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .4s ease;
      display: block;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }


}
}

 .global_logo_box_bottom{
   h4{ color: #fff; margin: 0; @include px-rem(30); font-weight: 400; line-height: 100%; margin-bottom: 10px;}
 }

 .news_list{  display: flex; flex-wrap: wrap; margin: 0 -0.7%; padding: 0;

  li{ position: relative; padding: 0 0.7% 20px 0.7%;
    width: 33%;
  }

  .news_item{
    position: relative;
    overflow: hidden;

    img{
      width: 100%;
      height: auto;
      display: block;
      transition: transform 0.4s ease;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }
  }


  &.style-02{ 

    li{ 
      .news_item{ border: solid 1px #000000;
      
        .global_logo_box_bottom{ position: unset; width: 100%; padding: 7%;}
      }
    }


    h4{ color: #000;}
h3{ color: #000;}

.global_buttion{ background: #000000; color: #fff;
  img{ filter: invert(1); }
}


  }



  &.col_2{

    li{ width: 50%;
      .global_logo_box_bottom {
        h3{ max-width: 350px;}
      }

      @media screen and (max-width: 768px) {

        width: 100%;
        
      }
    }
  }
  
 }

// Responsive styles
@media #{$media-820} {
  .news_list {
    li {
      width: 50%;
      padding: 0 1% 20px 1%;
    }
  }
}

@media #{$media-700} {
  .news_list {
    margin: 0;
    
    li {
      width: 100%;
      padding: 0 0 20px 0;
    }
  }
}



.news_item_img{ overflow: hidden;
 
}

.related_news_section{ background: #f6f6f6;}


.related_news_img{ position: relative; overflow: hidden;


   a{ display: inline-flex; width: 100%;
    &::after{ content:""; display:block; width:100%; height: 100%; position: absolute; top: 0; left: 0;  z-index: 1;
        background: linear-gradient(
           180deg,
           rgba(0, 0, 0, 0) 0%,
           rgba(0, 0, 0, 0.7) 61.12002730369568%
         );
     }
   }
}

.related_news_content{ padding-top: 25px; padding:  35px 5%; border: solid 1px  rgba(55, 54, 54, 0.2); width: 100%;
    h5{  font-weight: 500; color: #000000;  font-size: 16px; margin: 0; margin-bottom: 20px;

        span{ font-size: 14px; font-weight: 400; color: #000000; display: inline-block; margin-right: 10px;}


        @media screen and (max-width: 700px) {
            font-size: 13px; margin-bottom: 10px;
        }
    }

    h3{ font-weight: 500; color: #000000;  font-size: 24px; margin: 0; margin-bottom: 10px; @include px-rem(30); line-height: 100%; margin-bottom: 20px; 
    
        a{ color: #000;
        &:hover{ color: #242424;}
        }
    }
    p{ font-size: 16px; font-weight: 400; color: #000000; margin: 0; max-width: 75%;
        @media screen and (max-width: 700px) {
            font-size: 14px; max-width: 100%;
        }
    }
    
}

.category_tag{ display: inline-flex; align-items: center; justify-content: center; z-index: 10; position:absolute; left: 15px; top:15px; background: #fff; color: #000;   font-size: 14px; height: 30px; padding-left: 10px; padding-right: 10px;}