// Service Detail Col-3 Block Styles

.service_detail_col_3_section {
  position: relative;
}

.service_detail_col_3_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding: 0 1% 30px 1%;
    width: 33.333%;
  }

  .service_detail_item {
    position: relative;
    background: #fff;
    border: solid 1px #e0e0e0;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
&::after{ content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; 
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}
   
  }

  .service_detail_item_img {
    position: relative;
    overflow: hidden;
    width: 100%;
 

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.4s ease;
    }
  }

  .service_detail_item_content {
    padding: 9%;
    position: absolute; top: 0; left: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index:   2;

    h3{ color: #fff; margin: 0; @include px-rem(20); font-weight: 500; line-height: 100%; 
    
        @media screen and (max-width: 700px) {
            @include px-rem(40); line-height: 120%;
        }
    }
  }

  .service_detail_item_icon {
    margin-bottom: 20px;

    img {
      width: 50px;
      height: auto;
      display: block;
    }
  }

  .service_detail_item_title {
    color: #000;
    margin: 0 0 15px 0;
    font-weight: 500;
    @include px-rem(24);
    line-height: 1.3;
  }

  .service_detail_item_description {
    color: #666;
    margin-bottom: 20px;
    flex: 1;

    p {
      margin: 0 0 10px 0;
      font-size: 16px;
      line-height: 1.6;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .service_detail_item_link {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #293977;
    border-radius: 50%;
    transition: all 0.3s ease;

    img {
      width: 20px;
      height: auto;
      filter: invert(1);
    }

    // &:hover {
    //   background: #e4e9ff;
    //   transform: scale(1.1);

    //   img {
    //     filter: invert(0);
    //   }
    // }
  }
}

// Responsive styles
@media screen and (max-width: 1024px) {
  .service_detail_col_3_list {
    margin: 0 -0.7%;

    li {
      padding: 0 0.7% 25px 0.7%;
    }

    .service_detail_item_content {
      padding: 25px;
    }

    .service_detail_item_img {
      height: 220px;
    }
  }
}

@media screen and (max-width: 768px) {
  .service_detail_col_3_list {
    margin: 0 -1%;

 

    .service_detail_item_content {
      padding: 20px;
    }

    .service_detail_item_img {
      height: 200px;
    }

    .service_detail_item_title {
      @include px-rem(20);
    }

    .service_detail_item_description {
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .service_detail_col_3_list {
    margin: 0;

    li {
      width: 100%;
      padding: 0 0 20px 0;
    }

    .service_detail_item_content {
      padding: 20px;
    }

 
  }
}

