/* ============== Header SCSS for WordPress =============== */
/* Header Main Styles */
.header-main .navbar-brand {
  width: 220px;
  display: inline-block;
}
.header-main .navbar-nav {
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .header-main .container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 991px) {
  .header-main .navbar-brand {
    padding: 5px 0px;
  }
}

.nav_desk ul {
  margin: 0px;
  display: flex;
}
.nav_desk ul li a {
  color: #fff !important;
  font-size: 16px;
  transition: all 0.2s linear;
  display: inline-block;
  text-transform: capitalize;
  margin: 0px 17px;
  position: relative;
  padding: 0px;
}
.nav_desk ul li:last-child {
  margin-left: 50px;
  margin-right: 18px;
}
@media screen and (max-width: 991px) {
  .nav_desk {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  .nav_desk li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 1199px) {
  .nav_desk li a {
    font-size: 15px;
    margin: 0px 14px;
  }
}

.mobile_menu {
  display: none;
}
@media screen and (max-width: 991px) {
  .mobile_menu {
    display: block;
  }
}

.logo_desktop {
  padding: 18px 0px;
  align-items: center;
  justify-content: space-between;
}

/* Button Styles (used in header) */
.btn_style {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  height: 50px;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  font-size: 16px;
  padding: 0px 35px;
  transition: all 0.3s linear;
  position: relative;
  z-index: 1;
}
.btn_style:hover {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
}
.btn_style.btn_transparent {
  border: 1px solid var(--white);
  background-color: rgba(255, 255, 255, 0.2117647059);
  color: var(--white);
}
.btn_style.btn_transparent:hover {
  border: 1px solid var(--white);
  background-color: #fff;
  color: var(--black);
}

/* Header Position - Absolute for Banner Page */
.header-main {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 3;
  background: transparent;
  transition: all 0.5s linear;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2509803922);
}

/* Header Scroll Animation (Desktop) */
@media screen and (min-width: 992px) {
  .header-main {
    position: sticky;
    top: 0px;
    z-index: 3;
    background: transparent;
    transition: all 0.5s linear;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2509803922);
  }
  body.scroll-down .header_b {
    background: var(--blue);
    top: -112px;
    transition: all 0.5s linear;
    position: sticky;
  }
  body.scroll-up .header_b {
    background: var(--blue);
    top: 0;
    position: sticky;
    transition: all 0.5s linear;
  }
}
/* Mobile Menu Styles */
@media screen and (max-width: 991px) {
  .header_b {
    background: var(--blue);
    top: 0px;
    transition: all 0.5s linear;
    position: sticky !important;
    z-index: 3;
    border-bottom: 1px solid rgba(131, 136, 144, 0.2196078431);
  }
  .mobile-menu .offcanvas-start {
    width: 320px;
  }
  .mobile-menu .offcanvas-body {
    padding: 0px;
    background: var(--blue);
  }
  .mobile-menu .offcanvas-end {
    width: 425px;
  }
  .side-bar-list li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4705882353);
    text-decoration: none;
    display: block;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 20px;
    padding: 20px 0px;
    transition: all 0.2s linear;
  }
  .side-bar-list li a:hover {
    color: #7d9fff !important;
  }
  .side-bar-list ul {
    margin-top: 30px;
  }
  .hamburger_menu {
    border: none;
    background: transparent;
    padding: 0px;
    width: 35px;
  }
  .page-side-bar {
    padding: 40px 50px;
    text-align: left;
    position: relative;
    height: 100vh;
  }
  .btn-close_menu {
    width: auto;
    height: auto;
    padding: 0px;
    color: #fff;
    background: none;
    opacity: 1 !important;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    box-shadow: none !important;
  }
  .btn-close_menu svg {
    fill: var(--white);
    width: 22px;
    height: 22px;
  }
  .desktop_contact {
    display: none;
  }
}/*# sourceMappingURL=Header.css.map */