// Main SCSS file
// Import variables first
@import 'variable';

// Import mixins
@import 'mixins';

// Import header styles
@import 'header';

// Your custom styles go here

@import 'comon';

@import 'base';
@import 'banner';
@import 'innovation';
@import 'blobal-brands';
@import 'innovative-products';
@import 'connecting-industries';
@import 'projects';
@import 'stay-connected';
@import 'clients';
@import 'building-trust';
@import 'about-us';
@import 'our_story';