.associated_product_section {

    .wrap{ position: relative; z-index: 10;}
  // Associated Product styles go here
}

.associated_product_list{ margin: 0; padding: 0; display: flex; flex-wrap: wrap; gap: 20px;
    li{ list-style: none; width: 48%;
        @media screen and (max-width: 700px) { width: 100%;}
    }
}

.associated_product_item{ background: #fff; position: relative;
    .pro_detail_block{
         bottom: 0; left: 0; width: 100%; padding:0% 5% 5% 5%;
         h3{   @include px-rem(30); font-weight: 500; margin: 0; margin-bottom: 5px;}
         p{ margin: 0;}
    }
    .pro_img_block{ width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; padding-top: 50px; padding-bottom: 50px;}
}