 .global_brands_content_title{ display: flex; flex-wrap:wrap; align-items: center; justify-content: space-between; gap: 15px; }


 

 .brand_slider_item{  position: relative; color: #fff; background: rgba(244, 241, 242, 0.15); padding:8%; aspect-ratio: 452/452;

   h3{   
     @include px-rem(30); 
     cursor: #fff; 
     line-height: 100%;
     font-weight: 500; 
     display: inline-flex; 
     margin: 0; 
     transition: transform 0.3s ease;
   }
        .top_title_main{ 
          position: absolute; 
          top: 0; 
          left: 0; 
          transition: right 0.3s ease, left 0.3s ease;
        }

   &:hover {
     .brand_slider_item_img{ transform: scale(1); }
     .top_title_main {
       
       left: 65%;
     
     }
     .global_logo_box {
       opacity: 1;
     }
    }

}
.brand_slider_item_img{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  transform: scale(0.5);
  transition: transform 0.3s ease;
  
  
}
.brand_slider_item_content_box{ position: absolute; bottom: 0; left: 0; width: 100%; position: relative; z-index:2; }

.global_logo_box{ 
  position: absolute; 
  top: 0; 
  left: 0;   
  object-fit: cover;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.global_logo_box_wrp{ display: flex; flex-wrap: wrap; align-items: flex-start;  position: relative;  }

.global_logo_box_bottom{ align-items: flex-end; justify-content: space-between; position: absolute; bottom: 0; left: 0; width: calc(100% - 16%); left: 8%; bottom: 8%; right: 8%; z-index: 2;  display: flex; flex-wrap: wrap;  
   h3{ font-size: 16px; font-weight: 400; color: #fff; line-height: 100%; margin: 0; max-width: 300px;  line-height: 25px;}

   .global_buttion{ padding: 13px;  width: 40px; height: 40px; background: #fff; display: inline-flex; align-items: center; justify-content: center;
      img{ width: 15px;  }

      @media screen and (max-width: 768px) { margin-top: 20px;}
   }



}