.breadcrumb_section{ background: #F6F6F6;}

.breadcrumb_list{ margin: 0; padding: 0; display: flex; flex-wrap: wrap;
    li{      font-size: 16px;  padding: 0 15px; position: relative; font-weight: 400;
        a { color: rgba(0, 0, 0, 0.5);  font-weight: 400;}
   
        &::after{ content: ""; display: block; background: url(../images/brud-arrow.svg) no-repeat center center; width: 10px; height: 10px; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
    
        @media screen and (max-width: 700px) {  font-size: 14px;}
    }

    & > :last-child{
        &::after{ display: none;}
    }
    }
 