 .title_txt_block{
  h3{ margin-bottom: 10px;}
  p{ margin: 0; font-weight: 400;}
 }

.clients_slider {
	justify-content: center;
	margin: 0;
	padding: 0;
	border-top: solid 1px #e0e0e0;
	border-bottom: solid 1px #e0e0e0;
	margin-top: 35px;
	overflow: hidden;

	.swiper-wrapper {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.swiper-slide {
		width: 20%;
		flex-shrink: 0;
	}

	.clients_slide_item {
		padding: 3%;
		width: 100%;
		aspect-ratio: 1/1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		border-right: solid 1px #e0e0e0;

		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			object-fit: contain;
		}

		@media screen and (max-width: 700px) {
			border-right: none;
			border-bottom: solid 1px #e0e0e0;
		}
	}

	.swiper-slide:last-child .clients_slide_item {
		border-right: none;
	}

	@media screen and (max-width: 700px) {
		.swiper-slide {
			width: 33.333%;
		}
	}


.clients_slide_item{  border-right: solid 1px #ccc;}

}

// Keep old grid styles for backward compatibility if needed
.clients_grid{ 
	justify-content: center; 
	margin: 0; 
	padding: 0; 
	display: flex; 
	flex-wrap: wrap; 
	border-top: solid 1px #e0e0e0;  
	border-bottom: solid 1px #e0e0e0; 
	margin-top: 35px;
	
	li{ 
		padding: 3%; 
		width: 20%; 
		border-right: solid 1px #e0e0e0;  
		aspect-ratio: 1/1; 
		display: flex; 
		flex-wrap: wrap; 
		align-items: center; 
		justify-content: center; 
		
		img{  
			max-width: 100%; 
			max-height: 100%; 
			width: auto; 
			height: auto;  
			object-fit: contain; 
		}

		@media screen and (max-width: 700px) {
			width: 33%; 
			border-bottom: solid 1px #e0e0e0;
		}
	}

	& >:last-child{ 
		border-right: none;
	}
}