.our_story_content{ display: flex; flex-wrap: wrap; justify-content: space-between;}

.our_story_image_block{ width: 43.2%;

    @media screen and (max-width: 820px) {
        width: 100%; margin-bottom: 25px;
    }
}
.our_story_txt_block{ width: 49%;
    @media screen and (max-width: 820px) {
        width: 100%;
    }
}