 .product_overview_content{ display: flex; flex-wrap: wrap; justify-content: space-between;

    .product_overview_description{ width:60%; display: flex; flex-wrap: wrap;
        @media screen and (max-width: 768px) { width: 100%;}
    }
    .product_overview_title{ width: 34%;
        @media screen and (max-width: 768px) { width: 100%;}
    }
}

.product_overview_buttons{ margin: 0; padding: 0;
    li{  list-style: none; display: inline-block; margin-right: 10px; margin-bottom: 10px;}
}

.buttion_blue_icn{ padding-right: 15px;}