// Projects Banner Slider
.projects_banner_slider_section {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;

	@media screen and (max-width: 768px) {
		height: 400px;
	}
}

.projects_banner_slider {
	width: 100%;
	height: 100%;
	position: relative;
}

.projects_banner_slide {
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.projects_banner_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 100%
	);
	z-index: 1;
}

.projects_banner_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;

	.banner_title {
		color: #fff;
		font-size: 55px;
		font-weight:600;
	 
		margin: 0;

		@media screen and (max-width: 768px) {
			font-size: 35px;
		}
	}
}

.projects_banner_pagination {
	bottom: 30px !important;
	z-index: 10;

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background: rgba(255, 255, 255, 0.5);
		opacity: 1;
		margin: 0 5px;

		&.swiper-pagination-bullet-active {
			background: #fff;
			width: 14px;
			height: 14px;
		}
	}
}

.projects_banner_next,
.projects_banner_prev {
	color: #fff;
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transition: all 0.3s ease;

	&:after {
		font-size: 20px;
		font-weight: bold;
	}

	&:hover {
		background: rgba(255, 255, 255, 0.4);
	}

	@media screen and (max-width: 768px) {
		width: 40px;
		height: 40px;

		&:after {
			font-size: 16px;
		}
	}
}

.projects_banner_next {
	right: 30px;

	@media screen and (max-width: 768px) {
		right: 15px;
	}
}

.projects_banner_prev {
	left: 30px;

	@media screen and (max-width: 768px) {
		left: 15px;
	}
}

 .projects_home_grid{ display: flex; flex-wrap: wrap; margin: 0 -0.7%; display: flex; flex-wrap: wrap; padding: 0;
  li{ list-style: none; width: 33.33%; padding: 0 0.7%; display: flex; flex-wrap: wrap;
  
  .projects_item_01{ 
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
      display: block;
    }
    
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  
  }


  & > :nth-child(odd){ flex-direction: column-reverse;}
}


.projects_content_txt{ max-width:896px; margin-left: auto; margin-right: auto;}

.products_list{ position: relative; z-index: 10;}

.product_item_img{ position: relative; overflow: hidden;

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  &::after{ content: ""; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;   background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); z-index: 1;}
}


.category_tag_box{  position: absolute; bottom: 0;  width: 100%; left: 0; padding: 7%; z-index: 11;
  p{ color: #fff;  margin: 0;}
  h3{ margin: 0; margin-bottom: 10px; padding: 0; color: #fff; @include px-rem(30); font-weight: 500; line-height: 100%;}
}

.projects_grid_fltr_block{ 
  display: flex; flex-wrap: wrap;  justify-content: space-between; position: relative; z-index: 10; margin-bottom: 20px;
}
 

.projects_grid_fltr_block_item{ width: 25%; border: solid 1px #dadada;
  .projects_search_block{ position: relative; z-index: 11; display: flex; flex-wrap: wrap; align-items: center;
  
    .search_icn{ position: absolute; left: 20px;}
     .search_input{ color: #fff; width: 100%; border: none; background: transparent; padding: 15px 15px 15px 55px; font-size: 16px;
      &:focus-visible{ outline: none;}
      
      &::placeholder {
        color: #fff;
        opacity: 1;
      }
      
      &::-webkit-input-placeholder {
        color: #fff;
        opacity: 1;
      }
      
      &::-moz-placeholder {
        color: #fff;
        opacity: 1;
      }
      
      &:-ms-input-placeholder {
        color: #fff;
        opacity: 1;
      }
    }
  }

  @media #{$media-700}{ width: 100%; margin-bottom: 10px;}
}



.projects_grid_fltr_block_item_02{ width:40%;

  @media #{$media-700}{ width: 100%; margin-bottom: 10px;}
}
.projects_grid_fltr_block_item_02_list{ margin: 0; justify-content: flex-end; padding: 0; display: flex; flex-wrap: wrap; gap: 10px;

  li{ list-style: none; padding: 0; margin: 0; width: 48%;
    @media #{$media-700}{ width: 100%; margin-bottom: 10px;}
  }
}

.filter_select {
  width: 100%;
  
  color: #2e2e2e;
  border: 1px solid #dadada;
  padding: 15px 40px 15px 20px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='%23888888' d='M6 8L0 0h12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px 8px;
  background-color: transparent;
  
  &:focus {
    border-color: #dadada;
  }
  
  option {
    background: #000;
    color: #fff;
    padding: 10px;
  }
  
  &::-ms-expand {
    display: none;
  }
}

.bg_black{
  .filter_select { color: #fff;}
}