// Stack Section Styles
.stack-section {
  position: relative;
  width: 100%;
  overflow: hidden;

  .pinned_gallery {
    position: relative;
    width: 100%;
  }

  .pinned_image {
    position: relative;
    width: 100%;
    padding-bottom: 300px;
    box-sizing: border-box;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      z-index: 10;
      padding-bottom: 0px;
    }

    &.z_100 {
      z-index: 100;
    }

    .crd_block {
      position: relative;
      width: 100%;
      opacity: 1;
      transform: scale(1);
      will-change: transform, opacity;
      backface-visibility: hidden;
      transform-style: preserve-3d;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      .img_mx_fluid {
        max-width: 100%;
        height: auto;
        @media screen and (max-width: 700px) {

             aspect-ratio: 2/3; object-fit: cover;
             width: 100%;
             height: 100%;
         }
      }


      .crd_block_content{  position: absolute; bottom: 0; left: 0; width: 100%; z-index: 1; padding:2%; display: flex; flex-wrap: wrap; align-items: center;  padding-right: 55px;
        .global_buttion{ position: absolute;  right:2%; z-index: 1; width: 40px; height: 40px; padding: 12px; background: #fff; display: inline-flex; align-items: center; justify-content: center;  }
  
        h3{ margin: 0; width: 100%; color: #fff; @include px-rem(30); font-weight: 500;
        
            @media screen and (max-width: 700px) {
                @include px-rem(65);
            }
        }
        p{ margin: 0; width: 100%; max-width: 35%; color: #fff;  font-size: 16px;
        
            @media screen and (max-width: 700px) {
                width: 100%; max-width: 100%;
                font-size: 14px;
            }
        

            
        } 
  


       
    }
    

       



    }
  }

  .stack-text-block {
    padding: 0;
    background: transparent;
    box-shadow: none;
    // margin-top: 35px;

    .global_brands_content_title {
      width: 100%; padding-top: 85px;
    }
  }

  // Stack elements positioning
  .stack_el_01,
  .stack_el_02,
  .stack_el_03,
  .stack_el_04 {
    position: absolute;
    z-index: 2;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .stack_el_01 {
    top: 20px;
    left: 20px;
    width: 145px;
    height: 145px;
  }

  .stack_el_02 {
    top: 10%;
    right: 10%;
    width: 149px;
    height: 243px;
  }

  .stack_el_03 {
    top: 15%;
    right: 15%;
    width: 351px;
    height: 98px;
  }

  .stack_el_04 {
    bottom: 20%;
    left: 10%;
    width: 246px;
    height: 75px;
  }

  // Responsive styles
  @media screen and (max-width: 768px) {
    .pinned_image {
      padding-bottom: 200px;
    }


    .stack_el_01,
    .stack_el_02,
    .stack_el_03,
    .stack_el_04 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: auto;
      height: auto;
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .pinned_image {
      padding-bottom: 150px;
    }
  }
}

